body { /*to place the chart in the middle of the screen*/
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
}
#grid {
    display: grid;
    top:220px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
#grid > div {
    /*box-shadow: [horizontal offset][vertical offset][blur radius][optional spread radius][color]*/
    /*source: https://css-tricks.com/make-a-smooth-shadow-friend/*/
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 10px 80px rgba(0, 0, 0, 0.12);
}
#Chartjs {
    width: 700px;
    position:center;
    padding: 10px;
}
#D3js {
    width: 700px;
    position: center;
    padding: 10px;
}
#Capacity {
    width: 700px;
    position:center;
    padding: 10px;
}